/*
	     ============Bootstrap break points=============
		small (sm) devices (landscape phones, 576px and up)
		@media (min-width: 576px;) {...}
		 
		 Medium (md) devices (tablets, 768px and up)
		 @media (min-width: 768px;) {...}

		 Large (lg) devices (desktops, 992px and up)
		 @media (min-width: 992px;) {...}

		 Extra (xl) large devices (large desktops, 1200px and up)
		@media (min-width: 1200px;) {...}
*/
@import url('');


@font-face{
	font-family: "Poppins";
	src:url("../font/typofont/Poppins-ExtraBold.ttf");
}

@font-face{
	font-family: "Poppins-small";
	src:url("../font/typofont/Poppins-Regular.ttf");
}


body {  overflow-x:hidden;
		font-family:"Poppins-small";
		background-color: #0F1E31;
		color:white;
     }

.navbar{
 	margin-top: 10px;
}


.active div{
	border-bottom: solid 1px #E0245E;
	width: 38px !important;
	margin: auto
}


#name{
	color:white !important;
	font-family:"Poppins";
	font-size: 1.8em;
	letter-spacing: 1px;
}

.navbar-nav a{
	color:white !important; 
}

#group67{
	width: 70px;
	height: 57px;
	margin-left: -10px;
}


#rule{
	margin-top: 10px !important;
	width: 100px;
	height: 3px;
	background-color: white;
}

#about-image{
	width: 600px;
	float:right;
}

#about-text{
	font-size: 1.5em;
	width: 600px;
}

#header h1{
	font-family:"Poppins";
	font-size: 3.5em;
	letter-spacing: 5px;
	font-style: normal;
	font-weight: bold;
}
